*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(167, 92, 167);
    display: flex;
    align-items: center;
    height: 100vh;
}

.bola{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 2s;
}

.bola:hover{
    transform: translateX(calc(100vw - 200px));
    background-color: violet;
    border-radius: 0%;
}